@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
}
.ct-top-menu-items{
  @apply text-base font-bold cursor-pointer hover:text-pink-600 py-1 relative after:absolute after:bottom-0 after:left-0
  after:bg-pink-600 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-100;
}